<div fxLayout="row" fxLayoutAlign="center" >
    <div fxLayout="column" fxFlex="900px" >
        <form class="mt-60" #clientesFrm="ngForm" (ngSubmit)="salvar()">
            <mat-card appearance="outlined">
                <mat-card-header fxLayoutAlign="center">
                    <mat-card-title >Dados pessoais</mat-card-title>
                </mat-card-header>

                <mat-card-content class="mt-20" >   

                    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                        <div fxLayout="column" fxFlex="800px">
                            <mat-form-field class="full-width">
                                <mat-label>Nome: *</mat-label>
                                <input type="text" placeholder="Ex: Victor Clarindo" name="nome" [(ngModel)]="cliente.nome" matInput>
                            </mat-form-field>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                        <div fxLayout="column" fxFlex="800px">
                            <mat-form-field class="full-width">
                                <mat-label>Email:* </mat-label>
                                <input type="text" placeholder="Ex: example@email.com" matInput name="email" [(ngModel)]="cliente.email">
                            </mat-form-field>
                        </div>
                    </div>

                    <div fxFlexLayout="start" fxLayout="row" fxLayoutGap="16px" >
                        <div fxLayout="column" fxFlex="384px">
                            <mat-form-field>
                                <mat-label>CPF: *</mat-label>
                                <input type="text" placeholder="Ex: 123.456.789-10" matInput name="cpf" [(ngModel)]="cliente.cpf">
                            </mat-form-field>
                        </div>

                        <div class="full-width" fxLayout="column" fxFlex="400px">
                            <mat-form-field>
                                <mat-label>UF: *</mat-label>
                                <mat-select [(value)]="cliente.uf" (selectionChange)="carregarMunicipios($event)">
                                    <mat-option *ngFor="let uf of estados" [value]="uf.sigla">
                                        {{uf.sigla}} - {{uf.nome}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    @if(municipios){
                        <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                            <div fxLayout="column" fxFlex="384px">
                                <mat-form-field>
                                    <mat-label>Município: *</mat-label>
                                    <mat-select [(value)]="cliente.municipio">
                                        <mat-option *ngFor="let m of municipios" [value]="m.nome">
                                            {{m.nome}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                    }
                </mat-card-content>
                <mat-card-actions>
                    @if (!atualizando) {
                        <button mat-raised-button color="primary" type="submit">
                            <mat-icon fontIcon="save"></mat-icon>
                            Salvar
                        </button>
                    }
                    @else {
                        <button mat-raised-button color="primary" (click)="salvar()">
                            <mat-icon fontIcon="refresh"></mat-icon>
                            Atualizar
                        </button>
                    }
                    @if(!cliente.deletando){
                        <button type="button" mat-raised-button color="accent" class="ml-5" (click)="cliente.deletando = true">
                            <mat-icon fontIcon="backspace"></mat-icon>
                            Excluir
                        </button>
                    } @else {
                        <button type="button" mat-raised-button color="accent" class="ml-5" (click)="deletar()">
                            <mat-icon fontIcon="question_mark"></mat-icon>
                            Confirmar
                        </button>
                    } 

                </mat-card-actions>
            </mat-card>
        </form>
    </div>
</div>